@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #ffbd00;
    --white-color: #ffffff;
    --black-color: #1b1616;
    --bg-color: #e2e2e2;
    --grey-color: #dfdaf3;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
    line-height: 1.1;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.flex {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.ai-c {
    align-items: center;
}

.box {
    height: 1000px;
    background-color: red;
}

#counter-section-container {
    width: 100%;
    text-align: center;
}

#counter-box-container {
    /* border: 1px solid #999999; */
    overflow: hidden;
    display: inline-block;
}

#counter-box {
    /* width: 33.22%; */
    width: 300px;
    min-width: 200px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    /* background-color: #111111; */
    color: var(--black-color);
    /* border: 1px solid #666666; */
}

.counter {
    font-size: 50px;
    color: var(--black-color);
}